
DISC - St. Chad Gospels/README.txt
DISC - St. Chad Gospels/Models/chiro_obj/chiro_obj_1.png
DISC - St. Chad Gospels/Models/chiro_obj/chiro_obj.obj
DISC - St. Chad Gospels/Models/chiro_obj/chiro_obj.mtl
DISC - St. Chad Gospels/360 Captures/Chapter_House/IMG_20221013_100533_00_merged.jpg
DISC - St. Chad Gospels/360 Captures/Chapter_House/IMG_20221013_100533_00_097.jpg
DISC - St. Chad Gospels/360 Captures/Chapter_House/IMG_20221013_100533_00_096.jpg
DISC - St. Chad Gospels/360 Captures/Chapter_House/IMG_20221013_100533_00_095.jpg
Access Granted XR Manuscript Viewer/Assets/ExampleAssets.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials/Controller.mat
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials/Controller.mat.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials/Grid.mat
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials/Grid.mat.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials/Skybox Light.mat
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Materials/Skybox Light.mat.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Models.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Models/XRControllerLeft.fbx
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Models/XRControllerLeft.fbx.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Models/XRControllerRight.fbx
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Models/XRControllerRight.fbx.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Prefabs.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Prefabs/XRControllerLeft.prefab
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Prefabs/XRControllerLeft.prefab.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Prefabs/XRControllerRight.prefab
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Prefabs/XRControllerRight.prefab.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Textures.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Textures/Grid_Light_512x512.png
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Textures/Grid_Light_512x512.png.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/Images.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/Images/1-welcome-screen-image.png
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/Images/1-welcome-screen-image.png.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/Images/project-header-vr.png
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/Images/project-header-vr.png.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialContainer.asset
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialContainer.asset.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialProjectSettings.asset
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialProjectSettings.asset.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialStyle.asset
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialStyle.asset.meta
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialWelcomePage.asset
Access Granted XR Manuscript Viewer/Assets/ExampleAssets/Tutorial/VRTutorialWelcomePage.asset.meta
